{% extends 'index.html' %}
{% block content %}
 <h2> Check out my Hobbies </h2>
 <h4>Reading</h4>
        <p> I love to read. My favorite Genre is Sci-Fi/Fanstasy. I'm currently reading Rythym of War, a book by Brandon Sanderson and the fourth book of the
        Stormlight Archive. It's a 1200 page beast. This year, with all of my spare time from Quarantine, I've read the most I ever have.
        I am most proud of finishing Robert Jordan's 'Wheel of Time', a 15 book series with some Tolkein influence and totals over 4.4 million words.
        It took me 3 years to finish the series. Some of my other favorites are Dune, Red Rising, The Case of Charles Dexter Ward, and The Lies of Locke Lamora. </p>
<h4>Biking</h4>
        <p> Quarantine has encouraged me to embrace new ways of working out. While working in Houston this Summer, I started to bike to work everyday.
        In Baton Rouge, I like to bike on the Levee or around the LSU Lakes.</p>
<h4>Playing Boardgames with Friends</h4>
        <p>My favorites are Catan, Ticket to Ride, Munchkin, Dutch Joker, Call to Adventure, and Risk: 2210. For Christmas I got Secret Hitler which has been a lot of fun.</p>
<h4>Watching the Chiefs Win</h4>
        <p>SuperBowl x2???</p>
<h4>Frisbee Golf</h4>
        <p>I like to hit the links with my bro Rusty</p>
{% endblock content%}
