{% extends 'index.html' %} {% block content %}
<h2>Welcome</h2>
<p>
  Hi! My name is Keenan Flynn. I'm currently Master’s student at the University
  of Missouri – Kansas City studying Computer Science. In 2021 I graduated from
  Louisiana State University with a degree in Petroleum Engineering. I created
  this website as a project to showcase myself and expand my knowledge of web
  programming and frameworks. This website uses Python, Flask, HTML and is
  hosted using Linode. Here’s a bit about my working experience
</p>
<h4>National Association of Insurance Commisioners (Current position)</h4>
<p>
  The NAIC is an organization that helps support regulators and consumers in the
  insurance industry. My current position is a Project Management intern and I
  help support the filing solutions team. I work with my product manager to
  assist in the modernization of the SERFF website, which is where insurers can
  file documents with state regulators for approval. I contribute by making SQL
  queries on our Oracle database which helps in their analysis of user
  requirements. I'm also helping with filing categorization and data entry.
  Using Informatica, I've created data mappings which helps export our Oracle
  database into uniform flat files.
</p>
<h4>Hilcorp Energy (Summer 2020)</h4>
<p>
  Hilcorp is an Exploration and Production Oil and Gas company located in
  Houston, Texas. My position as a Reservoir Engineer held me responsible for
  efficient production and optimization of a New Mexico natural gas field. For
  the first half of the internship I evaluated and summarized 50 well files,
  cross-referencing current production data with old projects to categorize the
  assets. Using geologic mapping programs and the help of mentors, I generated a
  3D visualization of the subsurface geology to get an idea of what the virgin
  reservoir looked like. From production data I was able to calculate recovery
  factors and evaluate which wells had the most remaining gas. This narrowed my
  findings down to 3 assets, which showed big promise for future development. I
  presented potential project implementations to my Group Lead and 2 mentors
  with a recommendation on how to proceed supported by historical evidence.
</p>
<h4>Chieftain Oilfield Supply (Summer 2019)</h4>
<p>
  Chieftain Oilfield was my first experience in the energy industry. I learned
  to work with my hands and got a firsthand look at the oilfield business,
  living and working in south-central Kansas. This was my first work experience
  in a new place and I found living in the rural, agricultural area to be
  serene. While there, I helped build and repair sucker rod pumps, gas
  regulators, and various liquid valves and pumps which I would pick up from
  crews in the field. I also got experience tracking the store’s inventories and
  learned the stores billing process. This internship gave me face time with
  vendors, company men, and customers, which helped me pick up the business
  lingo. I believe this ob helped me develop a lot of practical life and
  handyman skills, and I was able to connect the dots between industry and my
  academic work.
</p>
<h4>Lowe's Home Improvement Store</h4>
<p>
  While working at Lowe's I learned to have a customer first attitude and
  learned to listen closely. This retail job helped me serve customer requests
  as accurately as I could in the fastest and most efficient way. I worked in
  the Outdoor Lawn and Garden department, which was the highest grossing
  department during the 2 summers I worked there. I learned safety principles
  for heavy machinery and helped the team create a safe and pleasant retail
  environment.
</p>
<h4>Research at LSU Center for River Studies</h4>
<p>
  The LSU Center for River Studies houses a one of the largest river models in
  the world. As a research assistant I was responsible for maintaining a 10,000
  square foot model of the Lower Mississippi River. I helped run various tests
  to visualize future water levels in the flood prone areas of Louisiana,
  routinely cleaned the model, and took sediment level measurements. The data I
  collected was transferred to Excel where I cleaned and normalized the data for
  analysis. The Center is under the supervision of Dr. Clint Willson.
</p>
{% endblock content %}
