{% extends 'index.html' %}
{% block content %}
        <h2> Welcome </h2>
        <p>Hi! My name is Keenan Flynn. I'm currently a senior studying Petroleum Engineering at Lousisiana State University.
        I've had 2 industry internships and I am planning on going to Grad School to seek a Master's degree in Computer Science at UMKC.
        I coded this website using a combination of Python, Flask, and HTML as part of a project to diversify myself and expand my knowledge
        of programming over Winter Break 2020.
        </p>
        <h4>My experience at Hilcorp Energy (Summer 2020)</h4>
        <p>Hilcorp is an Exploration and Production Oil and Gas company located in Houston, Texas.
        My position was that of a Reservoir Engineer, which is responsible for efficient production and optimization of the downhole interface
        in various wells. For half of the internship I evaluated and summarized 50 well files, cross-referencing current production data with old projects
        to see which projects were successful in my group of wells. Using mapping programs and the help of mentors, I then made a
        3D visualization of the subsurface geology and original hydrocarbons in place. From production data, I calculated recovery factors
        to evaluate which assets had the most remaining gas, and narrowed my findings down to 3 potential assets. I presented these findings to
        my Group Lead and 2 mentors with a recommendation of how to proceed based on historical evidence. </p>
        <h4>My experience at Chieftain Oilfield Supply (Summer 2019)</h4>
        <p>During my time with Chieftain (my first relevant experience in the energy industry), I learned to work with my hands and got a firsthand look at the oilfield industry.
        I learned to build and repair sucker rod pumps, gas regulators, and various liquid valves and pumps.
        I would pick up these parts from the field and get to watch as rig crews installed and took apart various parts of the wells they were working on.
        This is one of the most important developments in my industry knowledge, as I connected the concepts I learned in class to real world projects.
        I helped track the shop's inventories and learned billing processes.
        This internship gave me an opportunity to interact with vendors, company men, and customers, which helped me to gain a sense of industry lingo.</p>
        <h4>Working at Lowe's Home Improvement Store</h4>
        <p>While working at Lowe's I learned to have a customer first attitude and worked to listen closely to requests so as to help customers in the fastest and most efficient way possible.
        I worked in the Outdoor Lawn and Garden department and help to make it the highest grossing department in the store during the 2 summers (peak season) that I worked there.
        During this time I worked around heavy machinery and practiced safety protocols to maintain a safe retail environment. </p>
        <h4>Research at LSU Center for River Studies</h4>
        <p>The LSU Center for River Studies houses a 10,000 square foot model of the Lower Mississippi River.
        As a research assistant I was responsible for helping to maintain the functionality of the model and help run different tests on it to visualize future water levels in flood prone areas of Louisiana.
        I routinely helped to clean to model and take sediment level measurements. This data was then transferred to Excel where I ran programs to normalize the data.
        The Center is under the supervision of Dr. Clint Willson.</p>
{% endblock content %}
